[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "MOLHD"]
	path = MOLHD
	url = https://github.com/hrz123/molhd
	shallow = true
	registered = true
